<!DOCTYPE HTML>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Battle of the century</title>
</head>
<body>
  <p>
  <%= @Player1 %> vs <%= @Player2 %>
  </p>
  <p>
  <%= @Player1 %>: <%=@Player1_HPs%>
  <%= @Player2 %>: <%=@Player2_HPs%>
  </p>
  <p>
  <div id="he_man"></div>
</p>
  <p>
  <div id="wonder_woman"></div>
</p>
</body>
</html>
